/* A - PARTIAL RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
ul,li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {outline: 0;}
body {line-height: 1;color: black;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}



html,body {height: 100%;}

body {
	font: 13px Arial, sans-serif;
	background: #EAEAEA;
	margin: 0;
}


header {
	margin-top: 0px;
	padding: 15px;
	border:1px solid #666;
	color:#fff;
	 background-color:#deddcd;
	font: bold 35px/35px Helvetica, Arial, Sans-serif;
	color: #fff;
}



article{margin-bottom:10px;}

#content,#less{
	margin: 10px auto;
	padding: 2px 0;
	width: 940px;
}






button,a.button{padding:4px 16px;border:1px solid #bbb;cursor:pointer}
button,.button:hover{background:#149BD0;text-decoration:none;color:#fff}
button,input.button{height:27px;padding-bottom:2px}

.fInput
{
    padding: 5px 10px 2px 0px;
    float: left;
    
}
.fInput label
{
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 1px 6px 1px;
    font-family: Arial, sans-serif;
}

.fInput input[type=text]
{
	background: #fff; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #4b4b4b;
	font: 12px/18px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}


article h1,article h2,article h3{
margin-bottom:10px;
font-weight: bold;
color: #444; 

}

h1 {
	font-size: 36px;
	line-height:44px;
}

h2 {
	font-size: 24px;
}


h3 {
	font-size: 18px;
	
}

a{color:#58c;text-decoration:none}
a:hover{color:#990000;}


footer {
display:blosk;clear:both;
border-top:1px solid #666;padding:10px;clear:both;

}





