#controls {
	font: 13px/22px "Arial", sans-serif;
	position:absolute;
	bottom: 5px;
	left: 0px;
	height: 60px;
	opacity:0;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
/*#controls:hover {
	opacity:1
}
*/
.play, .pause {
	float:left;
	width:65px;
}
#player {
	background-color:black;
	-webkit-box-shadow: 0 0 3px 3px #777;
	-moz-box-shadow: 0px 0px 3px 3px #777;
}



#controls, .pause, .play,.fs {
	background-image:url(controls.png);
}
#controls {
	height:25px;
	background-position:-0px 0px;
	border:0;
	padding:0px 2px;
	margin:0;
}
.play {
	background-position:-0px -25px;
	width:27px;
	height:25px;
	border:0;
	padding:0;
	margin:0;
	display:block
}
.play:hover {
	background-position:-28px -25px
}
.pause {
	background-position:-0px -50px;
	width:27px;
	height:25px;
	border:0;
	padding:0;
	margin:0;
	display:block
}
.pause:hover {
	background-position:-28px -50px
}

.fs {
	background-position:-0px -75px;
	width:27px;
	height:25px;
	border:0;
	padding:0;
	margin:0;
	display:block;
	float:right;
}
.fs:hover {
	background-position:-28px -75px
}



#display, #duration {
	float:left;
	color:#fff;
	padding-top:1px;
	font-size:11px;
	font-weight:bold
}
#scrubber {
	cursor:pointer;
	float:left;
	margin-top:0px;
	margin-right:10px;
	border:0;
}
#volume {
	cursor:pointer;
	float:left;
	margin-left:15px;
	border:0;
}
#container {
	position:relative;float:left
}

#container:hover #controls{opacity:1}
