.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flexbox.center {
    -webkit-align-items: center;
    align-items: center;
}
.flexbox.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flexbox.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flexbox.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flexbox.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flexbox.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flexbox.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flexbox.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flexbox.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flexbox.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flexbox.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flexbox.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flexbox.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flexbox.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flexbox.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flexbox > .flex-pull-right {
    margin-left: auto;
}
.flexbox > .flex-pull-left {
    margin-right: auto;
}
.flexbox > .content-start {
    align-content: flex-start;
}
.flexbox > .content-end {
    align-content: flex-end;
}
.flexbox > .content-center {
    align-content: center;
}
.flexbox > .content-between {
    align-content: space-between;
}
.flexbox > .content-around {
    align-content: space-around;
}
.flexbox .align-self-end {
    align-self: flex-end;
}
.flexbox .align-self-center {
    align-self: center;
}
.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}
.flex-row.center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-row.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-row.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-row.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-row.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-row.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-row.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-row.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-row.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-row.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-row.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-row.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-row.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-row.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-row.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-row > .flex-pull-right {
    margin-left: auto;
}
.flex-row > .flex-pull-left {
    margin-right: auto;
}
.flex-row > .content-start {
    align-content: flex-start;
}
.flex-row > .content-end {
    align-content: flex-end;
}
.flex-row > .content-center {
    align-content: center;
}
.flex-row > .content-between {
    align-content: space-between;
}
.flex-row > .content-around {
    align-content: space-around;
}
.flex-row .align-self-end {
    align-self: flex-end;
}
.flex-row .align-self-center {
    align-self: center;
}
.flex-row.center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-row.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-row.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-row.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-row.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-row.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-row.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-row.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-row.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-row.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-row.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-row.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-row.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-row.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-row.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-row > .flex-pull-right {
    margin-left: auto;
}
.flex-row > .flex-pull-left {
    margin-right: auto;
}
.flex-row > .content-start {
    align-content: flex-start;
}
.flex-row > .content-end {
    align-content: flex-end;
}
.flex-row > .content-center {
    align-content: center;
}
.flex-row > .content-between {
    align-content: space-between;
}
.flex-row > .content-around {
    align-content: space-around;
}
.flex-row .align-self-end {
    align-self: flex-end;
}
.flex-row .align-self-center {
    align-self: center;
}
.flex-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-col.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-col.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-col.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-col.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-col.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-col.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-col.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-col.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-col.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col > .flex-pull-right {
    margin-left: auto;
}
.flex-col > .flex-pull-left {
    margin-right: auto;
}
.flex-col > .content-start {
    align-content: flex-start;
}
.flex-col > .content-end {
    align-content: flex-end;
}
.flex-col > .content-center {
    align-content: center;
}
.flex-col > .content-between {
    align-content: space-between;
}
.flex-col > .content-around {
    align-content: space-around;
}
.flex-col .align-self-end {
    align-self: flex-end;
}
.flex-col .align-self-center {
    align-self: center;
}
.flex-col.center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-col.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-col.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-col.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-col.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-col.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-col.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-col.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-col.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-col.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col > .flex-pull-right {
    margin-left: auto;
}
.flex-col > .flex-pull-left {
    margin-right: auto;
}
.flex-col > .content-start {
    align-content: flex-start;
}
.flex-col > .content-end {
    align-content: flex-end;
}
.flex-col > .content-center {
    align-content: center;
}
.flex-col > .content-between {
    align-content: space-between;
}
.flex-col > .content-around {
    align-content: space-around;
}
.flex-col .align-self-end {
    align-self: flex-end;
}
.flex-col .align-self-center {
    align-self: center;
}
.flex-col.center,
.flex-row.center,
.flexbox.center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.start,
.flex-row.start,
.flexbox.start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col.end,
.flex-row.end,
.flexbox.end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.stretch,
.flex-row.stretch,
.flexbox.stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-col.no-wrap,
.flex-row.no-wrap,
.flexbox.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-col.wrap,
.flex-row.wrap,
.flexbox.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-col.row-wrap,
.flex-row.row-wrap,
.flexbox.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-col.justify-start,
.flex-row.justify-start,
.flexbox.justify-start {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-col.justify-center,
.flex-row.justify-center,
.flexbox.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-col.justify-end,
.flex-row.justify-end,
.flexbox.justify-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-col.space-between,
.flex-row.space-between,
.flexbox.space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-col.space-around,
.flex-row.space-around,
.flexbox.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-col.align-end,
.flex-row.align-end,
.flexbox.align-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-col.align-center,
.flex-row.align-center,
.flexbox.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.flex-col.align-start,
.flex-row.align-start,
.flexbox.align-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-col > .flex-pull-right,
.flex-row > .flex-pull-right,
.flexbox > .flex-pull-right {
    margin-left: auto;
}
.flex-col > .flex-pull-left,
.flex-row > .flex-pull-left,
.flexbox > .flex-pull-left {
    margin-right: auto;
}
.flex-col > .content-start,
.flex-row > .content-start,
.flexbox > .content-start {
    align-content: flex-start;
}
.flex-col > .content-end,
.flex-row > .content-end,
.flexbox > .content-end {
    align-content: flex-end;
}
.flex-col > .content-center,
.flex-row > .content-center,
.flexbox > .content-center {
    align-content: center;
}
.flex-col > .content-between,
.flex-row > .content-between,
.flexbox > .content-between {
    align-content: space-between;
}
.flex-col > .content-around,
.flex-row > .content-around,
.flexbox > .content-around {
    align-content: space-around;
}
.flex-col .align-self-end,
.flex-row .align-self-end,
.flexbox .align-self-end {
    align-self: flex-end;
}
.flex-col .align-self-center,
.flex-row .align-self-center,
.flexbox .align-self-center {
    align-self: center;
}
