.circle {
    background: #222;
    width: 200px;
    height: 200px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;;
    border-radius: 100px 100px 100px 100px;;
    margin: 30px;
    font-weight: bold;
    text-align: center;
}

.half-circle {
    background: #222;
    width: 200px;
    height: 100px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 0px 0px 300px 300px;
    -webkit-border-radius: 0px 0px 300px 300px;
    border-radius: 0px 0px 300px 300px;
    margin: 30px;
    font-weight: bold;
    text-align: center;
}

.drop {
    width: 200px;
    height: 200px;
    background: #222;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-border-radius: 10px 100px 100px 100px;
    -moz-border-radius: 10px 100px 100px 100px;
    border-radius: 10px 100px 100px 100px;
}

.badge {
    width: 200px;
    height: 200px;
    background: #222;
    color: #fff;
    text-align: center;
    -moz-border-radius: 0px 0px 100px 100px;
    -webkit-border-radius: 0px 1px 100px 100px;
    border-radius: 0px 1px 100px 100px;
}

.lemon {
    width: 200px;
    height: 200px;
    background: #222;
    color: #fff;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -moz-border-radius: 1px 100px 1px 100px;
    -webkit-border-radius: 1px 100px 1px 100px;
    border-radius: 1px 100px 1px 100px;
}

.triangle {
    width: 200px;
    height: 200px;
    border-color: #222 transparent transparent transparent;
    border-style: solid;
    border-width: 100px 100px 100px 100px;
    width: 0;
    height: 0;
}

.holder {
    display: block;
    width: 190px;
    padding: 25px;
}
