@keyframes sweep {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }
}

#triangle {
    width: 64px;
    height: 64px;
    background-color: rgba(0,0,0, 0.5);
    offset-path: path('M50,50 L50,400 L400,400, C 390,390 600,50 50,50');
    offset-rotate: auto;
    animation: sweep 5s 0s infinite linear;

}